@model CCSB.Models.ViewModels.VehicleRegistrationViewModel

<div class="container vehicle-data-container">
    <h1>MIJN VOERTUIGEN</h1>
    <div class="vehicle-data-container-content">
        <div class="">
            <ul>
                <li>
                    <label>Naam:</label><p> @Model.FirstName @Model.Insertion @Model.LastName</p>
                </li>
                <li>
                    <label>Contract lengte:</label><p> kiuygasydhasuid</p>
                </li>
                <li>
                    <label>Kenteken:</label><p> @Model.LicensePlate</p>
                </li>
                <li>
                    <label>Kilometer stand:</label><p> @Model.Mileage</p>
                </li>
            </ul>
        </div>
        <div class="">
            <ul>
                <li>
                    <label>Lengte:</label><p> @Model.Length</p>
                </li>
                <li>
                    <label>Soort:</label><p> @Model.KindOfVehicle</p>
                </li>
                <li>
                    <label>Model:</label><p> @Model.Model</p>
                </li>
                <li>
                    <label>Stroom:</label><p> @Model.PowereSupply</p>
                </li>
            </ul>
        </div>
        <div>
            <a class="nav-button horizontal-center" asp-area="" asp-controller="Appointment" asp-action="Index">
                <div class="horizontal-center">Inplannen</div>
            </a>
        </div>
    </div>
</div>