@model CCSB.Models.Contract

@{
    ViewData["Title"] = "Delete";
        Layout = "~/Views/Shared/_LayoutPages.cshtml";
}
<style>

    h1 {
        text-align: center;
        margin: auto;
    }

    .col-sm-10 {
        text-align: center;
        margin: auto;
    }

    .col-sm-4 {
        text-align: center;
        margin: auto;
    }

    h4 {
        text-align: center;
    }

    form {
        text-align: center;
    }
</style>
<h1>Delete</h1>

<div>
    <h4>Contract</h4>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Voornaam)
            <text>&nbsp;</text>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
            <text>&nbsp;</text>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Achternaam)
            <text>&nbsp;</text>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achternaam)
            <text>&nbsp;</text>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Tussenvoegsels)
            <text>&nbsp;</text>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tussenvoegsels)
            <text>&nbsp;</text>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DatumVan)
            <text>&nbsp;</text>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumVan)
            <text>&nbsp;</text>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DatumTot)
            <text>&nbsp;</text>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumTot)
            <text>&nbsp;</text>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Kenteken)
            <text>&nbsp;</text>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kenteken)
            <text>&nbsp;</text>
        </dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Kenteken" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
</div>
